/- kdl-version 2

recipe id="mc" schema=1 {
    name "Midnight Commander"
    description "Feature-rich full-screen text mode visual file manager"
    homepage "https://midnight-commander.org/"
    command "mc"

    install package="midnight-commander"

    config {
        link source="mc/skins" target="$XDG_DATA_HOME/mc/skins"
    }
}
