/- kdl-version 2

recipe id="yazi" schema=1 {
    name "Yazi"
    description "Terminal file manager written in Rust"
    homepage "https://github.com/sxyazi/yazi"
    command "yazi"

    install package="yazi"

    setup {
        run label="Install Yazi packages" command="ya pkg install"
    }
}
