# compiled zsh files
*.zwc

# cache contents (keep folder structure)
cache/*
!cache/.gitkeep

# history file
.zsh_history

# sessions folder
.zsh_sessions/

# subdirectories inside /plugins/
plugins/*/

# other files and directories
.claude/
